<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
        expedita odit sed suscipit, voluptatibus incidunt at enim exercitationem
        vitae facilis?
      </p>
    </header>
    <div style="width: 45%; padding: 4rem">
        <div class="card card--secondary">
          <header class="card__header">
            Card Title
          </header>
          <div class="card__body">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Sapiente ipsa recusandae facere obcaecati ut animi, est odit non voluptates natus.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block block--dark block--skewed-left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
        expedita odit sed suscipit, voluptatibus incidunt at enim exercitationem
        vitae facilis?
      </p>
    </div>
  </section>