<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, in.</p>
  </header>
  <!-- Article 1 -->
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite_1.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi
        provident sint debitis doloremque voluptate asperiores quod nostrum
        repellendus quos?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="./images/easy_1x.webp 1x, ./images/easy_2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="./images/easy@1x.jpg 1x, ./images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="./images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <!-- Article 2 -->
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite_1.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi
        provident sint debitis doloremque voluptate asperiores quod nostrum
        repellendus quos?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="./images/fast_1x.webp 1x, ./images/fast_2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="./images/fast@1x.jpg 1x, ./images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="./images/fast@2x.jpg" alt="" />
    </picture>
  </article>
  <!-- Article 3 -->
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite_1.svg#wordpress  "></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi
        provident sint debitis doloremque voluptate asperiores quod nostrum
        repellendus quos?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="./images/wordpress_1x.webp 1x, ./images/wordpress_2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="./images/wordpress@1x.jpg 1x, ./images/wordpress@2x.jpg 2x"
      />
      <img class="feature__image" src="./images/wordpress@2x.jpg" alt="" />
    </picture>
  </article>
</section>
